{% extends "base.jinja" %}
{% block body %}
<script defer src="/assets/index.js"></script>
<div class="droparea center" id="drop-area">
    <img src="/assets/photo.svg" class="dropicon" /> Drop file here..
</div>
{% endblock body %}
