{% extends "base.jinja" %}
{% block body %}
<script defer src="/client/index.js"></script>
<div class="droparea center" id="drop-area">
    <img src="/client/photo.svg" class="dropicon" /> Drop file here..
</div>
{% endblock body %}
